
ul {
	padding: 5px;
	margin: 10px;
background-color: purple;
	list-style: none;
	display: inline;
	border: 2px;
	border-color: black;
	border-style: solid;
}

li {
	display: inline;
	background: tomato;
	margin: 10px;
	padding:5px;
	border: 1px;
	border-color: black;
	border-style:groove;
	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}
